@import url(./contents/cabecalho.css);
@import url(./contents/infos.css);
@import url(./contents/social.css);
@import url(./contents/descricao.css);
@import url(./contents/cv.css);
@import url(./contents/projetos.css);
@import url(./contents/foto.css);
@import url(./contents/rodape.css);

:root {
    --fonte-primaria: 'Quattrocento', serif;
    --fonte-secundaria: 'Josefin Slab', serif;

    --verde-oliva: rgb(0, 180, 180);
    --degrade-pretocinza: linear-gradient(to bottom, black, rgb(50, 50, 50), black);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(180, 180, 180);
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 25px;
    border: 1px solid rgb(80, 80, 80);
}