.cabecalho {
    background-color: var(--verde-oliva);
    color: black;
    padding: 1rem;
    text-align: center;
}

.cabecalho__titulo {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.cabecalho__menu {
    margin-top: 1rem;
}

.cabecalho__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho__lista a {
    text-decoration: none;
    color: black;
}

.cabecalho__lista-texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .cabecalho__titulo {
        border: none;
        padding: 0;
        margin: 0;
    }

    .cabecalho__menu {
        margin-top: 0;
    }

    .cabecalho__lista-item {
        padding-left: 1rem;
    }

    .cabecalho__lista-texto {
        display: block;
    }

    .cabecalho__lista-texto {
        padding: .5rem;
        font-size: 1.2rem;
    }
}

