.rodape {
    background-color: var(--verde-oliva);
    padding: .5rem;
    color: black;
}

.rodape__conteudo-texto {
    font-size: .7rem;
    text-align: center;
    line-height: 2;
}

@media screen and (min-width: 768px) {
    .rodape__conteudo-texto {
        font-size: 1rem;
    }
}